body {
  background-color: $body-bg;
}

.bb-1 {
  border-bottom: 1px solid rgba(208, 227, 242, 0.5);
}

.font-32 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  color: #37373d;
}

.font-14 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #37373d;
}

// Custom navbar
.custom-navbar {
  height: $navbar-height;

  .dropdown-menu {
    top: -8px;
    left: -222px;
    min-width: 261px;

    .dropdown-item {
      height: 40px;
      line-height: 34px;

      &:hover {
        font-weight: bold;
      }

      &:first-child {
        &:hover {
          background-color: unset;
        }
        &:active {
          background-color: unset;
        }
      }

      svg {
        margin-left: auto;
      }
    }
  }

  .dropdown-toggle {
    &::after {
      display: none;
    }
  }

  .alarm-dot {
    width: 15px;
    height: 15px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    background: #F9C0E9;
    left: 18px;
  }
}

.main-content {
  width: 100%;
  height: $main-content-height;
}

footer {
  height: $footer-height;
  width: 100%;
  background-color: $footer-bg;
  color: white;

  a {
    color: white;
  }
}

// custom text inputs
.custom-input {
  background-color: $color-input-bg;
  border: none;
  border-radius: 40px;
  padding: 12px 21px 10px;
  width: 100%;
  color: #37373d;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  opacity: 0.6;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: #37373d;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    opacity: 0.6;
  }
}

.custom-checkbox .custom-control-label::before {
  border: 2px solid #4f60e8;
  border-radius: unset;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border: 2px solid #4f60e8;
  background-color: #4f60e8;
}

.custom-icon-btn {
  padding: 12px 24px;
  border-radius: 30px;
  border: 1px solid $color-primary;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  cursor: pointer;

  span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: $color-primary;
  }

  svg {
    margin-left: 10px;
  }

  &:active {
    background-color: $color-primary;

    & > span {
      color: white;
    }

    & > svg > path {
      fill: white;
    }
  }
}

@include media-breakpoint-down(sm) {
  .font-32 {
    font-size: 20px;
  }
}
