body {
  background-color: $body-bg;
}

.font-32 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  color: #37373d;
}

.font-20 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #37373d;
}

.font-16 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #37373d;
}

.font-14 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #37373d;
}

// custom text inputs
.custom-input {
  background-color: $color-input-bg;
  border: none;
  border-radius: 40px;
  padding: 10px 24px;
  width: 100%;
  color: #37373d;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: #37373d;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    opacity: 0.6;
  }
}

.custom-checkbox .custom-control-label::before {
  border: 2px solid #4f60e8;
  border-radius: unset;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border: 2px solid #4f60e8;
  background-color: #4f60e8;
}

.custom-icon-btn {
  padding: 12px 24px;
  border-radius: 30px;
  border: 1px solid $color-primary;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  cursor: pointer;

  span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: $color-primary;
  }

  svg {
    margin-right: 10px;
  }

  &:active {
    background-color: $color-primary;

    & > span {
      color: white;
    }

    & > svg > path {
      fill: white;
    }
  }
}

.block-wrapper {
  background: #ddebf6;
  border-radius: 12px;
}

//nav pills custom
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #4f60e8;
  background-color: transparent;
  border-bottom: 2px solid #4f60e8;
}

.nav-pills .nav-link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #37373d;
  border-radius: unset;
  padding: 14px 0;
  margin-right: 40px;
}

.expertise-wrapper {
  
  .expertise-item {

    .expertise-circle {
      border: 3px solid #333333;
      box-sizing: border-box;
      height: 24px;
      width: 24px;
      border-radius: 50%;
      background-color: #DDEBF6;
      z-index: 999;
    }
    
    .expertise-indicator {
      border-left: 2px solid;
      position: absolute;
      left: 11px;
      top: 35px;
      width: 1px;
      height: 100%;
    }
  }

  .expertise-item:last-child {
    .expertise-indicator {
      display: none;
    }
  }
}
@include media-breakpoint-down(sm) {
  .font-32 {
    font-size: 20px;
  }
}
