body {
  background-color: $body-bg;
  font-family: "Montserrat";
}

.bb-1 {
  border-bottom: 1px solid rgba(208, 227, 242, 0.5);
}

.font-32 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  color: #37373d;
}

.font-20 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #37373d;
}

.font-16 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #37373d;
}

.font-14 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #37373d;
}

.font-10 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 18px;
  color: #333333;
  opacity: 0.6;
}

.border-16 {
  background: #f2f6f9;
  border-radius: 16px;
  padding: 1rem;
  line-height: 26px;
}

// custome label
.custom-labe1 {
  background: #a5c8fd;
  border-radius: 16px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #37373d;
  padding: 4px 16px;
}

// Custom navbar
.custom-navbar {
  height: $navbar-height;

  .dropdown-menu {
    top: -8px;
    left: -222px;
    min-width: 261px;

    .dropdown-item {
      height: 40px;
      line-height: 34px;

      &:hover {
        font-weight: bold;
      }

      &:first-child {
        &:hover {
          background-color: unset;
        }
        &:active {
          background-color: unset;
        }
      }

      svg {
        margin-left: auto;
      }
    }
  }

  .dropdown-toggle {
    &::after {
      display: none;
    }
  }

  .alarm-dot {
    width: 15px;
    height: 15px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    background: #f9c0e9;
    left: 18px;
  }
}

.main-content {
  width: 100%;
  height: $main-content-height;
}

footer {
  height: $footer-height;
  width: 100%;
  background-color: $footer-bg;
  color: white;

  a {
    color: white;
  }

  a:hover {
    color: white;
  }
}

// Custom Dropdown
.custom-dropdown-bg-placeholder {
  a.dropdown-toggle {
    background-color: $color-input-bg;
    border-radius: 40px;
    border: none;
    color: $color-input-placeholder;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 1rem;
    &:focus {
      box-shadow: 2px 2px 4px rgba(75, 75, 83, 0.07);
    }
  }

  ul.dropdown-menu {
    border: none;
    border-radius: 8px;
    margin-top: 13px;
    width: 100%;
    background-color: $color-input-bg;

    li {
      a {
        color: $color-input-placeholder;
        width: 100%;
        cursor: pointer;
        display: block;
        text-decoration: none;
      }
      &:hover {
        background-color: $color-input-bg;
        a {
          color: $color-input-text;
        }
      }
    }
  }
}

// custom text inputs
.custom-input {
  background-color: $color-input-bg;
  border: none;
  border-radius: 40px;
  padding: 10px 24px;
  width: 100%;
  color: #37373d;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: #37373d;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    opacity: 0.6;
  }
}

.custom-checkbox .custom-control-label::before {
  border: 2px solid #4f60e8;
  border-radius: unset;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border: 2px solid #4f60e8;
  background-color: #4f60e8;
}

.custom-add-btn {
  font-size: 14px;
  line-height: 24px;
  padding: 4px 16px;
  border-radius: 30px;
  border: 1px solid $color-primary;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  cursor: pointer;

  span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: $color-primary;
  }

  svg {
    margin-right: 10px;
  }

  &:active {
    background-color: $color-primary;

    & > span {
      color: white;
    }

    & > svg > path {
      fill: white;
    }
  }
}

.custom-icon-btn {
  padding: 12px 24px;
  border-radius: 30px;
  border: 1px solid $color-primary;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  cursor: pointer;

  span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: $color-primary;
  }

  svg {
    margin-right: 10px;
  }

  &:active {
    background-color: $color-primary;

    & > span {
      color: white;
    }

    & > svg > path {
      fill: white;
    }
  }
}

.block-wrapper {
  background: #ddebf6;
  border-radius: 12px;
}

//nav pills custom
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #4f60e8;
  background-color: transparent;
  border-bottom: 2px solid #4f60e8;
}

.nav-pills .nav-link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #37373d;
  border-radius: unset;
  padding: 14px 0;
  margin-right: 40px;
}

.green-dot {
  width: 9px;
  height: 9px;
  background-color: #04b154;
  border-radius: 50%;
  top: 0;
  right: 0;
}

// customize modal
.custom-close-btn {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background: transparent;
  border: none;

  &:focus {
    border: none;
    outline: none;
  }
}

.modal-dialog {
  margin-top: 10rem;
  min-width: 930px;
}

@include media-breakpoint-down(sm) {
  .font-32 {
    font-size: 20px;
  }
}
