.request-header-top {
  padding: 19px 32px;
  background-color: #d8e7fd;
}

.request-header-bottom {
  padding: 6px 24px;
  background-color: #b0d5ff;
}

.request-footer {
  padding: 18px 26px 18px 32px;
  background-color: #e6ecf1;
}

.send-message-wrapper {
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 24px 24px 0px 24px;
}

.receive-message-wrapper {
  box-sizing: border-box;
  background-color: #E5E9F1;
  border-radius: 24px 24px 24px 0px;
}

