.request-header-top {
  padding: 19px 32px;
  background-color: #d8e7fd;
}

.request-header-info {
  padding: 12px 30px;
  cursor: pointer;
}

.request-header-bottom {
  padding: 6px 24px;
  background-color: #b0d5ff;
}

.request-footer {
  padding: 18px 26px 18px 32px;
  background-color: #e6ecf1;
}

.send-message-wrapper {
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 24px 24px 0px 24px;
}

.receive-message-wrapper {
  box-sizing: border-box;
  background-color: #e5e9f1;
  border-radius: 24px 24px 24px 0px;
}

.message-end-line {
  width: 70%;
  height: 1px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 14px;
}

.request-complete {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #04b154;
}

.custom-textarea {
  background: #f8f8f8;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 8px;
  width: 90%;
  padding: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  &::placeholder {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
    opacity: 0.6;
  }

  &:focus {
    outline-offset: unset;
    outline: unset;
  }
}

.custom-modal-open {
  .modal-backdrop.show {
    width: calc(100vw - 337px);
    height: calc(100vh - 106px);
    bottom: 0;
    right: 0;
    top: unset;
    left: unset;
    opacity: 0.5;
    backdrop-filter: blur(10px);
  }
}

.custom-modal-open {
  .modal.show {
    width: calc(100vw - 337px);
    height: calc(100vh - 106px);
    bottom: 0;
    right: 0;
    top: unset;
    left: unset;
  }
  .issue-invoice-modal-dialog {
    min-width: unset;
  }
  .send-completion-modal-dialog {
    min-width: unset;
    max-width: 90%;
  }
}

.timesheet-tracker-card {
  cursor: pointer;
  background: #3ee2ee;
  border-radius: 8px;
  height: 136px;
  padding: 1.5rem;
}

.timesheet-video-card {
  cursor: pointer;
  background: #a5c8fd;
  border-radius: 8px;
  height: 136px;
  padding: 1.5rem;
}

.tracker-table {
  .dataTables_length {
    display: none;
  }

  .dataTables_filter {
    display: none;
  }

  .dataTables_paginate {
    display: none;
  }

  .dataTables_info {
    display: none;
  }

  .dataTables_wrapper {
    width: 100%;
    .page-item {
      &:last-child .page-link {
        font-size: 0;
        background: transparent;

        &:after {
          content: "⟶";
          font-size: 14px;
        }
      }

      &:first-child .page-link {
        font-size: 0;
        background: transparent;

        &:after {
          content: "⟵";
          font-size: 14px;
        }
      }

      .page-link {
        background-color: transparent;
        font-size: 14px;
        color: $body-color;
        border: 0;

        &:focus {
          box-shadow: none;
        }
      }
    }

    .disabled .page-link {
      background: transparent;
      color: $color-disabled;
    }

    .active .page-link {
      border: 1px solid;
      border-radius: 3px;
      background: transparent;
      color: $color-nav-icon-active;
    }

    & > .row {
      margin-bottom: 1.5rem;

      &:last-child {
        justify-content: center;

        & > div:first-child {
          display: none;
        }
      }
    }
  }

  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #ebf3ff;
  }
  .table thead th {
    border-bottom: unset;
    padding: 0.75rem;
  }
  tr {
    height: 48px;
    td {
      padding: 0.75rem;
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: #000000;
    }
  }
}
