.transactions-table {
  .dataTables_length {
    display: none;
  }

  .dataTables_filter {
    display: none;
  }

  .dataTables_paginate {
    display: none;
  }

  .dataTables_info {
    display: none;
  }

  .dataTables_wrapper {
    width: 100%;
    .page-item {
      &:last-child .page-link {
        font-size: 0;
        background: transparent;

        &:after {
          content: "⟶";
          font-size: 14px;
        }
      }

      &:first-child .page-link {
        font-size: 0;
        background: transparent;

        &:after {
          content: "⟵";
          font-size: 14px;
        }
      }

      .page-link {
        background-color: transparent;
        font-size: 14px;
        color: $body-color;
        border: 0;

        &:focus {
          box-shadow: none;
        }
      }
    }

    .disabled .page-link {
      background: transparent;
      color: $color-disabled;
    }

    .active .page-link {
      border: 1px solid;
      border-radius: 3px;
      background: transparent;
      color: $color-nav-icon-active;
    }

    & > .row {
      margin-bottom: 1.5rem;

      &:last-child {
        justify-content: center;

        & > div:first-child {
          display: none;
        }
      }
    }
  }

  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #ebf3ff;
  }
  .table thead th {
    border-bottom: unset;
    padding: 0.75rem;
  }
  tr {
    height: 48px;
    td {
      padding: 0.75rem;
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: #000000;
    }
  }
}

.favorite-table {
  .table-striped tbody tr {
    background-color: #ddebf6;
    border-radius: 4px;
    border-bottom: solid 10px #f2f5f7;
    td {
      border: none;
    }
  }

  .table th,
  .table td {
    vertical-align: middle;
    padding: 0.5rem;
  }
}
