$body-bg: #ebf6ff;
$body-color: #000;

$color-primary: #4F60E8;
$color-secondary: #15C1CE;
$color-third: #3EE2EE;
$color-firth: #A5C8FD;
$color-fifth: #7DAEF8;
$color-sixth: #22C3FA;

$color-input-bg: #D0E3F2;
$color-input-bg-inactive: #DDEBF6;
$color-input-text: #37373D;
$color-input-placeholder: #747c85;
$color-nav-bg-active: #E1EDFE;
$color-nav-icon-active: #3550ED;
$color-nav-bg-hover: #E1EDFE;
$color-disabled: #6C757D;
$table-row-odd-bg: #EBF3FF;

$color-bg-card: #DDEBF6;
